body, html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: white;
	overflow: hidden;
	font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#title-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 32px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(142,142,142,1) 5%, rgba(0,0,0,1) 100%);
	z-index: 999;
	overflow: hidden;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	border: transparent;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#title-bar button {
	-webkit-app-region: no-drag;
}
#tb-button-region {
	position: fixed;
	float: right;
	right: 0;
}
#tb-title-text-region{
	color: white;
	left: 0;
	float: left;
	margin: 5px;
}
#tb-button-list {
	list-style: none;
	margin: 0px;
	padding: 0;
}
#tb-button-list li {
	display: block;
    float: left;
}
#title-bar button.tb-button {
	display: inline-block;
	border: none;
	outline: none;
	width: 30px;
	height: 30px;
	transition:background 0.2s ease-out;
}
button.tb-button:active {
	border: none;
	outline: none;
}
button.tb-button:hover {
	border: none;
	outline: none;
	transition:background 0.2s ease-in;
}
button.tb-button:focus {
	border: none;
	outline: none;
}
#tb-button-close {
	background: url(ui/close.png) no-repeat;
}
#tb-button-close:hover {
	background: url(ui/close_hover.png) no-repeat;
}
#tb-button-max {
	background: url(ui/max.png) no-repeat;
}
#tb-button-max:hover {
	background: url(ui/max_hover.png) no-repeat;
}
#tb-button-unmax {
	background: url(ui/unmax.png) no-repeat;
}
#tb-button-unmax:hover {
	background: url(ui/unmax_hover.png) no-repeat;
}
#tb-button-min {
	background: url(ui/min.png) no-repeat;
}
#tb-button-min:hover {
	background: url(ui/min_hover.png) no-repeat;
}
.tb-spacer-10 {
	white-space: pre;
}

#content {
	position: relative;
    z-index: 99;
	margin-top: 32px;
}